@page "/sections"
@using Client.Component.Public.Shared
@using Client.Component.Public.Section

<Navbar />

<main class="container min-vh-90 py-5">
    <div class="row">
        <div class="col">
            <h1 class="my-3">Sections</h1>
            <p>Click a section card to view its surveys</p>
            
            <div class="row">
                @if(databaseCache.Sections != null) {
                    foreach(var section in databaseCache.Sections) {
                        <div class="col-md-4">
                            <SectionCard Section="section"/>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>
<Footer/>


@implements IDisposable
@code {
    [Inject] DatabaseCache databaseCache { get; set; }

    protected override async Task OnInitializedAsync() {
        databaseCache.OnSectionsDataChanged += StateHasChanged;

        if(databaseCache.Sections == null) {
            await databaseCache.GetSectionsFromDbCache();
        }
    }

    public void Dispose() {
        databaseCache.OnSectionsDataChanged -= StateHasChanged;
    }
}
