

<div class="card shadow mb-2">
    <img src="@($"{ApiEndpoints.ServerBaseUrl}/{Section.SectionImagePath}")" class="card-img-top fixed-height-image" alt="Category thumbnail image" />
    <div class="card-body">
        <h3 class="card-title">@Section.Title</h3>
        <p class="card-text">@Section.Description</p>
    </div>

    <a href="@($"/survey/{Section.Id}")" class="btn btn-primary stretched-link md-f-size-1-5">
        <i class="fas fa-mail-bulk"></i>View Surveys
    </a>
</div>


@code{
    [Parameter] public SectionModel Section { get; set; }

    
}